:root {
  --neversink-title-font: 'Inter', sans-serif;
  --neversink-main-font: 'Atkinson Hyperlegible', sans-serif;
  --neversink-mono-font: 'Fira Code', monospace;
  --neversink-quote-font: 'Noto Serif', serif;
}
